.feed-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.nav-icons {
  color: black;
  margin: 0.5rem;
}

.nav-icons-cont {
  display: flex;
  align-self: center;
  justify-content: center;
}

.upload-button {
  margin-top: 0.5rem;
}

.video-container {
  height: 70vh;
  overflow-y: scroll;
}

.video-container::-webkit-scrollbar {
  display: none;
}

.post-container {
  height: 100%;
  width: 20rem;
  margin-bottom: 6rem;
  position: relative;
  margin-top: 1rem;
}

.post-container > video {
  height: 100%;
  width: 20rem;
  border-radius: 20px;
  object-fit: contain;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .nav-icons {
    display: none;
  }
}

.video-info {
  position: absolute;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 1rem;
}

/* .avatar-cont {
  display: flex;
} */
