.feed-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.nav-icons {
  color: black;
  margin: 0.5rem;
}

.nav-icons-cont {
  display: flex;
  align-self: center;
  justify-content: center;
}

.upload-button {
  margin-top: 0.5rem;
}

.video-container {
  height: 70vh;
  overflow-y: scroll;
}

.video-container::-webkit-scrollbar {
  display: none;
}

.post-container {
  height: 100%;
  width: 20rem;
  margin-bottom: 6rem;
  position: relative;
  margin-top: 1rem;
}

.post-container > video {
  height: 100%;
  width: 20rem;
  border-radius: 20px;
  object-fit: contain;
  background-color: black;
}

@media screen and (max-width: 500px) {
  .nav-icons {
    display: none;
  }
}

.video-info {
  position: absolute;
  width: 20rem;
  display: flex;
  justify-content: space-between;
  height: 3rem;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  align-items: center;
  margin-left: 0.25rem;
  bottom: -0.1rem;
  color: white;
}

.avatar-cont {
  display: flex;
  width: 65%;
  justify-content: flex-start;
  align-items: center;
}

.avatar-cont > p {
  margin-left: 0.5rem;
}

.post-like {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-like > p {
  margin-left: 0.1rem;
  margin-right: 0.5rem;
}

.modal-container {
  display: flex;
  width: 100%;
}

.video-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 50%;
  padding: 1rem;
}

.video-modal > video {
  height: 90%;
  width: 100%;
}

.comments-modal {
  height: 100%;
  padding: 1rem;
  width: 60%;
}

.card1 {
  height: 55.5vh;
  margin-top: 2.8rem;
  margin-bottom: 0.5rem;
}

.card2 {
  padding: 0.5rem;
}

.post-like-2 {
  padding: 0.5rem;
  display: flex;
  align-items: center;
}

.post-like-2 > * {
  margin-right: 0.3rem !important;
}
